In [18]:
#Importing TensorFlow Library for dataflow and differentiable programming across a range of tasks.
import tensorflow.compat.v1 as tf
tf.disable_v2_behavior()

# Import the pandas library to read our dataset 
import pandas as pd

# Get the train/test split package from sklearn for preparing our dataset to # train and test the model with 
from sklearn.model_selection import train_test_split


# Import the numpy library to work with and manipulate the data 
# Get the train/test split package from sklearn for preparing our dataset to
# train and test the model with
from sklearn.model_selection import train_test_split
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
sns.set(color_codes=True)

#Importing files to stop getting Warnings
import os
import tensorflow as tf
os.environ['TF_CPP_MIN_LOG_LEVEL'] = '3'

#Importing nltk which is of libraries and programs for symbolic 
#statistical natural language processing for English written in the Python programming language. 
import nltk 
import random 
from nltk.tokenize import word_tokenize
nltk.download('punkt') 
nltk.download('stopwords')

#nltk.download('movie_reviews') 
nltk.download('wordnet')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

## Importing Dataset

In [19]:
# Imported the necessary libraries
import csv
import urllib.request as urllib2

import matplotlib.pyplot as plt

import pandas as pd
# Importing data using url
url = 'https://raw.githubusercontent.com/cacoderquan/Sentiment-Analysis-on-the-Rotten-Tomatoes-movie-review-dataset/master/train.tsv'
response = urllib2.urlopen(url)

# reading data using pandas and converting into dataframe
df = pd.read_csv(response,delimiter='\t',encoding='utf-8')
df.head(10)

   PhraseId  ...  Sentiment
0         1  ...          1
1         2  ...          2
2         3  ...          2
3         4  ...          2
4         5  ...          2
5         6  ...          2
6         7  ...          2
7         8  ...          2
8         9  ...          2
9        10  ...          2

[10 rows x 4 columns]

In [20]:
#Reseting index values
df = df.sample(frac=1).reset_index(drop=True)
df.head()

   PhraseId  ...  Sentiment
0    116096  ...          2
1     13327  ...          2
2     46411  ...          3
3    122433  ...          2
4     15640  ...          2

[5 rows x 4 columns]

In [21]:
#Tokenizing Data after Splitting
X_train, X_test, Y_train, Y_test = train_test_split(df ['Phrase'], df ['Sentiment'], test_size=0.3, random_state=2003)
documents=[]
X_train = np.array(X_train.values.tolist())
Y_train = np.array(Y_train.values.tolist())
for i in range(len(X_train)):
  documents.append([list(word_tokenize(X_train[i])), Y_train[i]]) 

X_test = np.array(X_test.values.tolist())
Y_test = np.array(Y_test.values.tolist())
for i in range(len(X_test)):
  documents.append([list(word_tokenize(X_test[i])), Y_test[i]]) 

documents[0]

[['for', 'the', 'female'], 2]

In [0]:
from nltk.corpus import stopwords 
from nltk.stem import WordNetLemmatizer, PorterStemmer, LancasterStemmer 
porter = PorterStemmer() 
lancaster=LancasterStemmer() 
wordnet_lemmatizer = WordNetLemmatizer() 
stopwords_en = stopwords.words("english") 
punctuations="?:!.,;'\"-()"
#parameters to adjust to see the impact on outcome 
remove_stopwords = True
useStemming = False
useLemma = False
removePuncs = True

In [23]:
for l in range(len(documents)):                   #For each review document 
  label = documents[l][1]                         #Save review label 
  tmpReview = []                                  #Placeholder list for new review 
  for w in documents[l][0]:                       #For each word this is review 
    newWord = w                                   #Set newWork to be the updated word 
    if remove_stopwords and (w in stopwords_en):  #if the word is a stopword & we want to remove stopwords 
      continue                                    #skip the word and don’t had it to the normalized review 
    if removePuncs and (w in punctuations):       #if the word is a punc. & we want to remove punctuations 
      continue                                    #skip the word and don’t had it to the normalized review 
    if useStemming:
      #if useStemming is set to True 
      #Keep one stemmer commented out 
      #newWord = porter.stem(newWord) #User porter stemmer 
      newWord = lancaster.stem(newWord) #Use Lancaster stemmer 
    if useLemma: 
      newWord = wordnet_lemmatizer.lemmatize(newWord) 
    tmpReview.append(newWord)                     #Add normalized word to the tmp review 
  documents[l] = (tmpReview, label)             #Update the reviews list with clean review 
  documents[l] = (' '.join(tmpReview), label) 

print(documents[0])

('female', 2)

In [24]:
#Printng Dataframe by analysing using sentiments
df = pd.DataFrame(documents, columns=['text', 'sentiment']) 
df.head()

                                 text  sentiment
0                              female          2
1                             Wedding          3
2                               heart          2
3  least provides strong itch explore          3
4                       harsh reality          1

In [0]:
#Splitting Dataset
X_train, X_test, Y_train, Y_test = train_test_split(df['text'],  df['sentiment'], test_size=0.3, random_state=2003)

In [0]:
#Importing Libraries for  Vectorization
from sklearn.feature_extraction.text import CountVectorizer , TfidfVectorizer
from keras.utils import to_categorical

vectorizer = TfidfVectorizer(max_features = 2000)#, # ngram_range=(1, 1)) 
X = vectorizer.fit_transform(df["text"]) 
Y = df['sentiment'] 

#Converting Them into Array
X_train = vectorizer.transform(X_train).toarray()
Y_train = Y_train 
X_test = vectorizer.transform(X_test).toarray()
Y_test = Y_test

In [27]:
Y_test

13510     2
61932     2
82549     2
137718    3
121990    2
         ..
94224     2
135456    2
154729    2
23031     2
57870     2
Name: sentiment, Length: 46818, dtype: int64

In [0]:
#Importing Keras Library for and different header files for adding layers to the Network
#@title Default title text
import keras
from keras.datasets import mnist
from keras.models import Sequential
from keras.layers import Dense, Dropout, Flatten
from keras.layers import Conv1D, MaxPooling1D
from keras import backend as K
from keras.models import load_model
from keras.backend import sigmoid
def swish(x, beta = 1):
    return (x * sigmoid(beta * x))
from keras.utils.generic_utils import get_custom_objects
from keras.layers import Activation
get_custom_objects().update({'swish': Activation(swish)})

In [0]:
#Initializing values for the epochs and batch_sizes
batch_size = 128
num_classes = 5
epochs = 12

In [30]:
X_train.shape

(109242, 2000)

In [0]:
Y_train = keras.utils.to_categorical(Y_train, num_classes)
Y_test = keras.utils.to_categorical(Y_test, num_classes)

In [32]:
Y_test

array([[0., 0., 1., 0., 0.],
       [0., 0., 1., 0., 0.],
       [0., 0., 1., 0., 0.],
       ...,
       [0., 0., 1., 0., 0.],
       [0., 0., 1., 0., 0.],
       [0., 0., 1., 0., 0.]], dtype=float32)

In [0]:
#Structuring up the model and using Relu as a gradient function and normalizing the batch at every layer
model = Sequential()
model.add(Conv1D(filters=64, kernel_size=3,
                  activation='relu',
                  input_shape=(2000,1)))
model.add(Conv1D(128, kernel_size=5, activation='relu'))
model.add(MaxPooling1D(pool_size=1))

model.add(Conv1D(128, kernel_size=5, activation='relu'))
model.add(MaxPooling1D(pool_size=1))

model.add(Conv1D(128, kernel_size=5, activation='relu'))
model.add(MaxPooling1D(pool_size=1))

#model.add(Dropout(rate = 0.50))
model.add(Flatten())
model.add(Dense(num_classes, activation='softmax'))

In [34]:
model.save('1102275_1dconv_reg.h5') #SAVING THE MODEL
model1 = load_model('1102275_1dconv_reg.h5')# LOADING THE SAVED MODELmodel1.layers

/usr/local/lib/python3.6/dist-packages/keras/engine/saving.py:310: UserWarning: No training configuration found in save file: the model was *not* compiled. Compile it manually.
  warnings.warn('No training configuration found in save file: '

In [35]:
#Compiling using Activation function using Nadam as a activation function
model.compile(loss=keras.losses.categorical_crossentropy,
              optimizer=keras.optimizers.Adamax(lr=0.002, beta_1=0.9, beta_2=0.999,epsilon=1e-07),
              metrics=['accuracy'])

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/optimizers.py:793: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:3576: The name tf.log is deprecated. Please use tf.math.log instead.

In [0]:
X_train = X_train.reshape(X_train.shape[0], X_train.shape[1], 1)
X_test = X_test.reshape(X_test.shape[0], X_test.shape[1], 1)

In [37]:
# Fitting the model and printing the accuracy for the train and test results
model.fit(X_train, Y_train,
          batch_size=128,
          epochs=12)
score = model.evaluate(X_test, Y_test, verbose=0)
print('Test loss:', score[0])
print('Test accuracy:', score[1])

WARNING:tensorflow:From /tensorflow-1.15.0/python3.6/tensorflow_core/python/ops/math_grad.py:1424: where (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where
WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:1033: The name tf.assign_add is deprecated. Please use tf.compat.v1.assign_add instead.

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:1020: The name tf.assign is deprecated. Please use tf.compat.v1.assign instead.

Epoch 1/12
109242/109242 [==============================] - 161s 1ms/step - loss: 1.0968 - acc: 0.5705
Epoch 2/12
109242/109242 [==============================] - 153s 1ms/step - loss: 1.0011 - acc: 0.6059
Epoch 3/12
109242/109242 [==============================] - 153s 1ms/step - loss: 0.9827 - acc: 0.6129
Epoch 4/12
109242/109242 [==============================] - 153s 1ms/step - loss: 0.9694 - acc: 0.6167
Epoch 5/12
109242/109242 [==============================] - 154s 1ms/step - loss: 0.9548 - acc: 0.6218
Epoch 6/12
109242/109242 [==============================] - 153s 1ms/step - loss: 0.9414 - acc: 0.6277
Epoch 7/12
109242/109242 [==============================] - 154s 1ms/step - loss: 0.9292 - acc: 0.6325
Epoch 8/12
109242/109242 [==============================] - 154s 1ms/step - loss: 0.9185 - acc: 0.6366
Epoch 9/12
109242/109242 [==============================] - 154s 1ms/step - loss: 0.9090 - acc: 0.6396
Epoch 10/12
109242/109242 [==============================] - 153s 1ms/step - loss: 0.9012 - acc: 0.6425
Epoch 11/12
109242/109242 [==============================] - 153s 1ms/step - loss: 0.8927 - acc: 0.6453
Epoch 12/12
109242/109242 [==============================] - 154s 1ms/step - loss: 0.8858 - acc: 0.6489
Test loss: 1.0324917324465024
Test accuracy: 0.6053440984236832